.left {
  /* 定宽 */
  width: 120px;
  /* 实现三列布局的代码 */
  float: left;
  margin-left: -100%;
}

.right {
  /* 定宽 */
  width: 250px;
  /* 实现三列布局的代码 */
  float: left;
  margin-left: -250px;
}

.center {
  /* 实现三列布局的代码 */
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.container {
  overflow: hidden;
}

/* 以上代码基本都是三列布局，以下才是实现等高布局的关键！ */
.center {
  /* 与left的颜色、宽度一致 */
  border-left: 120px solid #2196f3;
  /* 与right的颜色、宽度一致 */
  border-right: 250px solid #f48fb1;
}
