<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>探究float</title>
  <style>
    img {
      width: 100px;
      height: 100px;
      float: left;
      outline-width: 5px;
      outline-style: solid;
    }

    img:nth-of-type(1n) {
      outline-color: red;
    }

    img:nth-of-type(2n) {
      outline-color: green;
    }

    img:nth-of-type(3n) {
      outline-color: blue;
    }
  </style>
</head>
<body>
  <img src="../assets/1.png">
  <img src="../assets/1.png">
  <img src="../assets/1.png">
</body>
</html>