ul {
  white-space: nowrap;
  overflow-x: auto;
  font-size: 0;

  /* padding-bottom: 20px; */
  border-bottom: 20px solid transparent;
  margin-bottom: -20px;
}

li {
  display: inline-block;
}

.list-wrapper {
  overflow-y: hidden;
  /* height: 100px; */
}
